<div [formGroup]="form">
  <label for="pais">País: </label>
  <app-dropdown
    llavePropiedadLabel="label"
    id="pais"
    formControlName="pais"
    [listaOpciones]="opciones"
  ></app-dropdown>
</div>
