<style>
  select option:first {
    color: #8c8c8c;
  }
</style>

<select name="{{ nombreDropdown }}" [disabled]="disabled" (ngModel)="value" (blur)="onTouched($event);" (ngModelChange)="value = $event">
  <option disabled hidden selected [ngValue]="undefined">{{ placeholder }}</option>
  <option *ngFor="let opcion of listaOpciones" [ngValue]="opcion" [selected]="equals(opcion, value)">
      {{ opcion[llavePropiedadLabel] }}
  </option>
</select>
