<form [formGroup]="form">
  <label for="name">Nombre: </label>
  <input type="text" formControlName="name" name="name" id="name">
  <app-dropdown-paises [form]="form"></app-dropdown-paises>
  <button>Guardar</button>
</form>
<button (click)="form.get('pais').patchValue({codigo: 'ES', label: 'España'})">Set value</button>
